@font-face {
    font-family: "HelveticaNeueBold";
    src: url("../fonts/HelveticaNeueBold/HelveticaNeue-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue/HelveticaNeue.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "JosefinSlab";
    src: url("../fonts/JosefinSlab/JosefinSlab.ttf");
    font-style: normal;
    font-weight: normal;
}